/* /*  your css code here. If applicable */

/* .star {
      position: relative;
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 105px solid yellow;
      margin-bottom: -35px;
    }

    .star:after {
      content: '';
      position: absolute;
      top: 35px;
      left: -60px;
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-top: 105px solid yellow;
    } */ */